<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.2/phpunit.xsd">
    <coverage>
        <report>
            <clover outputFile="reports/coverage.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="legacy">
            <directory>tests/Legacy</directory>
        </testsuite>
    </testsuites>
    <logging>
        <junit outputFile="reports/logfile.xml"/>
    </logging>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
</phpunit>
