<phpunit bootstrap="vendor/autoload.php" colors="true">
    <php>
        <env name="APACHE_TIKA_BINARIES" value="bin"/>
    </php>
    <testsuites>
        <testsuite name="php-apache-tika">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="reports/coverage.xml"/>
        <log type="junit" target="reports/logfile.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>
